.inicio {
    display: flex;
    flex-direction: column; /*Alinea los elementos verticalmente*/
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la pantalla */
    background-color: #f4f7f6; /* Un fondo claro y agradable */
    
  }

.inicio p{
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inicio a{
    display: inline-block; /* Permite aplicar padding y margin */
    padding: 2%;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.inicio a:hover{
    font-size: 100px;
}

.inicio button {
    justify-content: right;
}

.detalle {
    display: inline-flex;
    border-radius: 25px; 
    justify-content: space-between;
    background-color: #d8d8d8;
    width: max-content;
    margin-bottom: 20px;
    
}

.detalle img {
    width: 50%;
    border-radius: 25px;
}
.detalleDato{
    width: max-content;
}

.detalleDato p{
    display: block;
    padding-right: 15px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
}